#home{
    background: #0d6efd;
    min-height: 500px;
}

.card{
    transition: all .5s ease;
    height: 270px;
}
.card img{
    width: 100%;
    height: 400px;
}

.card:hover{
    cursor:pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    transform: scale(1.05);
}

.btn{
    transition: all .5 ease;
}


.carousel-item{
    padding: 20px;
    height: 320px;
}
.card-body{
    height: 2300px !important;
}